{
  "development": {
    "username": "mpmt",
    "password": "secreto",
    "database": "mpmt",
    "host": "localhost",
    "dialect": "postgres",
    "port": 5432,
    "define": {
      "schema": "alertas"
    }
  },
  "test": {
    "username": "postgres",
    "password": "postgres",
    "database": "terrama-test",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "port": 5432,
    "define": {
      "schema": "alertas"
    }
  },
  "production": {
    "username": "postgres",
    "password": "postgres",
    "database": "terrama-prod",
    "host": "terrama2.dpi.inpe.br",
    "dialect": "postgres",
    "port": 5432,
    "define": {
      "schema": "alertas"
    }
  }
}
